name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[dev]"
    - name: Check code style with Ruff
      run: |
        ruff format --check
    - name: Lint with Ruff
      run: |
        ruff check
    - name: Test with pytest
      run: |
        pytest -v
    - name: Test render
      run: |
        map-machine render -b 10.000,20.000,10.001,20.001 --cache tests/data
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[dev]"
    - name: Check code style with Ruff
      run: |
        ruff format --check
    - name: Lint with Ruff
      run: |
        ruff check
    - name: Test render
      run: |
        map-machine render -b 10.000,20.000,10.001,20.001 --cache tests/data
